@model SportsStoreDomainLibrary.Entity.Customer

@{
    ViewBag.Title = "ThankYou";
}
<div> 
<h2>ThankYou,@Model.CustomerName</h2>
<h4>Your Order(s) has been placed successfully,will ship it as soon possible to @Model.Address</h4>
</div>


